/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/10/2020, 04:18:39 PM
    Author     : josel
*/
/* css de pagina home */
.ubicacion {
  text-align:center;
  width: 70%;
  border-radius:50px;
  height:300px; 
  
}
.ubicacion-box{
  text-align:center;
  margin-bottom: 50px
}

/* CARD ABOUT*/
.image-about{
  width:300px;
  height:200px;
  border-radius:50px;
}
.card-about{
  display:flex;
  width:60%;
  margin:auto;
  
}
.text-about{
  line-height:25px;
  align-self:center;
  text-align:center;
  margin-left:20px;
  font-family: "Montserat-light";
}
@media(max-width:980px){
  .card-about{
    flex-direction:column;
    margin-bottom:20px;
  }
  .text-about{
      width:100%;
      margin-left:0px;
      margin-top:20px;
  }
  .image-about{
    margin:auto;
    width:100%;
  }
}

/* COMPONENTE INFORMACION */
.container-information{
  display:flex;
  margin:auto;
  align-items:center;
  justify-content: center;
}
  .oval2,.oval {
   
   margin-top:20px;
    margin-left:50px;
    width:450px;
    height:238px;
    background: rgba(148, 241, 152, 0.2);
    border-radius: 50%;
   text-align: center; 
  }
.container-information h1{
   color:#47BB1E;
   margin-top:20px;
   font-weight: 700;
}
  .letra2{
    color:#2A4296;
    padding:15px;
  font-size: 16px;
  line-height:30px;
  margin-left:15px;
  margin-right:15px;
  font-family: "Montserat-light";
  align-self:center;
  }
  @media screen and (max-width: 800px){  
      .card-about{
          width:80%;
      }
  .container-information{
      flex-direction:column;
  }
    .oval2,.oval{
      width:400px;
      margin:auto;
      height:null;
    }
    .ubicacion{
        width:100%;
    }
}
  @media screen and (max-width: 500px){ 
      .oval2,.oval{
           width:100%;
      }
      
  }

 