/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/10/2020, 04:29:49 PM
    Author     : josel
*/

*{
  margin:0;
}
body{
  height:100vh;
  background:linear-gradient(#6338FF 30%,#B427E8 80%);
}
/* error image */
.error_image{
    margin:auto;
    width:500px;
    height:500px;
    display:flex;
}
p{
    position:relative;
    top:100px;
    font-family: 'Roboto', sans-serif;
   text-align: center;
    font-size: 60px;
   background: -webkit-linear-gradient(#9722F3, #E73ED6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
