/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/10/2020, 04:18:44 PM
    Author     : josel
*/
/* css de pagina promociones */

/* PROMOCIONES CARDS */
.container_promotion{
   display:flex;
  flex-direction:row;
  flex-flow:wrap;
  width:60%;
  margin:auto;
}
.card{
  margin:40px auto;
  height:330px; 
  width:270px;
 border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 3px solid #000000;
border-color:#14D11c;
}

.container1,.container2{
  display:flex;
  flex-direction:row;
  flex-flow:wrap;
}

.producto{
   margin-top:20px;
  padding-left:160px;
  line-height:23px;
  margin-right:10px;
  font-family:'OpenSans-Light'
}
.circle {
   width: 80px;
   height: 80px;
   background: rgba(30, 226, 62, 0.72);
   border-radius: 50%;
   padding:3px;
}
.checkbtn{
  font-size:15px;
  margin-left:10px;
  line-height:30px;
  color:#1B87B6;
  cursor:pointer;
}
.costo_anterior{
    text-decoration:line-through;
    font-weight:bold;
    margin-top:6px;
}
.costo_real{
    color:white;
}

#imagen_promocion{
    width:180px;
    height:180px;
    border-radius:20px;
}
.imagen{
    margin-top:15px;
    text-align: center;
}
@media screen and (max-width:1000px){
  .card{
    widht:40%;
  }
}
@font-face{
    font-family: 'OpenSans-Light';
    src: url("../fonts/OpenSans-Light.ttf");
    font-style: normal;
}